<!doctype html>
<html lang="en">
@Html.Partial("/Views/AdminLayout/PartialHead.cshtml")

<body>

	<div class="wrapper d-flex align-items-stretch">

		@Html.Partial("/Views/AdminLayout/PartialSidebar.cshtml")

		<div id="content" class="p-4 p-md-5 pt-5">
			@RenderBody()
		</div>
	</div>

	<script src="/sidebar-03/js/jquery.min.js"></script>
	<script src="/sidebar-03/js/popper.js"></script>
	<script src="/sidebar-03/js/bootstrap.min.js"></script>
	<script src="/sidebar-03/js/main.js"></script>


</body>
</html>
